<li class="nav-item">
    <a class="nav-link category-nav-link" href="/category/all" aria-label="All brands">All</a>
</li>
<li class="nav-item">
    <a class="nav-link category-nav-link"  href="/category/food-drink" aria-label="Category food and drink">Food & Drink</a>
</li>
<li class="nav-item">
    <a class="nav-link category-nav-link" href="/category/fashion" aria-label="Category fashion">Fashion</a>
</li>
<li class="nav-item">
    <a class="nav-link category-nav-link" href="/category/lifestyle" aria-label="Category lifestyle">Lifestyle</a>
</li>
<li class="nav-item">
    <a class="nav-link category-nav-link" href="/category/social" aria-label="Category social">Social</a>
</li>
<li class="nav-item">
    <a class="nav-link category-nav-link" href="/category/household" aria-label="Category household">Household</a>
</li>
<li class="nav-item">
    <a class="nav-link category-nav-link" href="/category/beauty-wellness" aria-label="Category beauty and wellness">Beauty & Wellness</a>
</li>
