<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/all">All</a>
</li>
<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/food-drink">Food & Drink</a>
</li>
<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/fashion">Fashion</a>
</li>
<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/lifestyle">Lifestyle</a>
</li>
<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/social">Social</a>
</li>
<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/household">Household</a>
</li>
<li class="nav-item">
    <a class="nav-link bottom-nav-link" href="/category/beauty-wellness">Beauty & Wellness</a>
</li>
