<footer role="contentinfo">
    <div id="footer" class="d-flex flex-column flex-lg-row justify-content-evenly align-items-start">
        <!--  Logo  -->
        <div class="mb-3">
            <a id="footer-brand-logo" class="navbar-brand" href="/">
                <img src="/images/ecopicks/logo1.svg" alt="Ecopicks logo, link to homepage">
            </a>
        </div>

        <div class="mb-3">
            <div class="footer-heading">Company</div>
            <ul class="nav footer-block">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Impressum</a>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <div class="footer-heading">Support</div>
            <ul class="nav footer-block">
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/recommendation">Promote a brand</a>
                </li>
                <li>
                    <a class="nav-link text-decoration-underline" href="mailto:ecopicks.contact@gmail.com">ecopicks.contact@gmail.com</a>
                </li>
                <li>
                    <a href="tel:012345678910" class="nav-link">Hotline: 012345678910</a>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <div class="footer-heading">Stay connected</div>
            <ul class="nav footer-block">
                <li>
                    <a href="https://www.instagram.com/ecopicks.eu/"  class="mt-2 me-3 text-decoration-none social-media-button nav-link">
                        <img src="/images/socialmedia/Instagram.png" width="32" height="32" alt="Instagram logo">
                        <span class="ms-2">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/ecopicks.eu"  class="mt-2 me-3 text-decoration-none social-media-button nav-link">
                        <img src="/images/socialmedia/Facebook.png" width="32" height="32" alt="Facebook logo">
                        <span class="ms-2">Facebook</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button id="back-to-top" class="btn btn-primary" type="button">Back to top</button>
</footer>
