<footer>
    <div id="footer">
        <!--  Logo  -->
        <a id="footer-brand-logo" class="navbar-brand" href="/">
            <img src="/images/ecopicksLogo/logo1.svg" alt="Ecopicks homepage">
        </a>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>

        <a class="nav-link" href="#header">Back to top</a>
    </div>
</footer>
