<header id="header">
  <nav id="header-large">
    <div class="navbar" id="header-top">
      <a id="skip-link" class="btn-outline-primary" href="#main">Skip to main content</a>
      <!--  Logo  -->
      <a id="brand-logo" class="navbar-brand" href="/">
        <img src="/images/ecopicks/logo1.svg" alt="Ecopicks homepage">
      </a>
      <form id="search-form-lg" method="get" action="/search">
        <div class="input-group">
          <label for="search-input-lg" class="visually-hidden">Search for a brand or a product. </label>
          <%if (query !== undefined) { %>
            <input id="search-input-lg" class="form-control border-start-0 border search-input" autocomplete="off"
                   name="q" value="<%= query%>" type="search" placeholder="Search for a brand or a product">
          <% } else { %>
            <input id="search-input-lg" class="form-control border-start-0 border search-input" autocomplete="off"
                   name="q" value="" type="search" placeholder="Search for a brand or a product">
          <% } %>
            <button class="btn btn-outline-light bg-white border-start-0 border search-button" type="submit" id="">
              <i aria-hidden="true" class="fas fa-search"></i>
              <span class="position-relative ms-2 d-none d-md-block">Search</span>
            </button>
        </div>
      </form>
      <div id="navbar-top">
        <% if(!loggedIn) { %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-btn">
            <a class="btn btn-outline-primary" href="/login">Log In</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="btn btn-primary" href="/registration">Sign Up</a>
          </li>
        </ul>
        <% } else { %>

        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item">
            <a href="/user"  class="nav-link">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span>Profile</span>
            </a>
          </li>
          <div aria-hidden="true" class="nav-line"></div>
          <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
        </ul>
        <% } %>
      </div>
    </div>

    <nav id="header-bottom">
        <ul class="nav justify-content-center">
          <%- include ('./categoryNavigation') %>
        </ul>
    </nav>
  </nav>

  <nav id="header-mobile">
    <div class="navbar">
      <!--  Button to toggle menu on mobile screen -->
      <button id="menu-button"
              class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
      >
          <svg aria-hidden="true" focusable="false" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 22.5H26.25V20H3.75V22.5ZM3.75 16.25H26.25V13.75H3.75V16.25ZM3.75 7.5V10H26.25V7.5H3.75Z" fill="#0D4813"/>
          </svg>
          <span id="menu-label">Menu</span>
      </button>
      <div class="collapse navbar-collapse menu-collapse" id="navbarContent">

        <ul class="navbar-nav ml-auto">
          <li id="nav-logo" class="nav-item">
            <a class="navbar-brand" href="/">
              <img src="/images/ecopicks/logo1.svg" alt="Ecopicks homepage">
            </a>
            <button id="close-menu" type="button" class="btn-close close_btn" aria-label="Close menu"></button>
          </li>
          <li aria-hidden="true" class="horizontal-line"><hr></li>
          <!--  Categories links      -->
          <%- include ('./categoryNavigation') %>
        </ul>

          <!-- Auth    -->
        <ul  aria-hidden="true" class="navbar-nav ml-auto"><li class="horizontal-line"><hr></li></ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/recommendation">Recommend a brand</a>
          </li>
        </ul>
        <ul  aria-hidden="true" class="navbar-nav ml-auto"><li class="horizontal-line"><hr></li></ul>
        <ul class="navbar-nav ml-auto">
          <% if(!loggedIn) { %>
            <li class="nav-item nav-btn">
              <a class="btn btn-outline-primary" href="/login">Log In</a>
            </li>
            <li class="nav-item nav-btn">
              <a class="btn btn-primary" href="/registration">Sign Up</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/user">
                <i class="fas fa-user" aria-hidden="true"></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          <% } %>
        </ul>
      </div>
      <!--  Logo  -->
      <a id="brand-logo-mobile" href="/">
        <img src="/images/ecopicks/logo2.svg" alt="Ecopicks homepage">
      </a>

      <!--  Search button    -->
      <button id=""
              class="navbar-toggler search-button" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#searchBar" aria-controls="searchBar" aria-expanded="false"
      >
        <svg aria-hidden="true" focusable="false" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.375 17.5H18.3875L18.0375 17.1625C19.2625 15.7375 20 13.8875 20 11.875C20 7.3875 16.3625 3.75 11.875 3.75C7.3875 3.75 3.75 7.3875 3.75 11.875C3.75 16.3625 7.3875 20 11.875 20C13.8875 20 15.7375 19.2625 17.1625 18.0375L17.5 18.3875V19.375L23.75 25.6125L25.6125 23.75L19.375 17.5ZM11.875 17.5C8.7625 17.5 6.25 14.9875 6.25 11.875C6.25 8.7625 8.7625 6.25 11.875 6.25C14.9875 6.25 17.5 8.7625 17.5 11.875C17.5 14.9875 14.9875 17.5 11.875 17.5Z" fill="#0D4813"/>
        </svg>
        <span id="search-label">Search</span>
      </button>

      <div class="collapse navbar-collapse search-collapse fade" id="searchBar">
        <form id="search-form-sm" method="get" action="/search">
          <div class="input-group align-items-stretch">
            <button id="close-search" type="button" class="btn-close close-search-btn" aria-label="Close search"></button>
            <label for="search-input-sm" class="visually-hidden"> Search for a brand or a product </label>
            <%if (query !== undefined) { %>
              <input id="search-input-sm" class="form-control border-end-0 search-input" autocomplete="off"
                     name="q" value="<%= query%>" type="search" placeholder="Search for a brand or a product">
            <% } else { %>
              <input id="search-input-sm" class="form-control border-end-0 search-input" autocomplete="off"
                     name="q" value="" type="search" placeholder="Search for a brand or a product" aria-label="Search for a brand or a product">
            <% } %>

              <button class="btn btn-outline-light bg-white d-flex align-items-center justify-content-evenly input-search-button" type="submit" aria-label="Search">
                <i aria-hidden="true" class="fas fa-search"></i>
                <span class="position-relative ms-2 d-none d-md-block">Search</span>
              </button>

          </div>
        </form>
      </div>

    </div>
  </nav>
</header>
