<div id="homepage">
  <div class="container">
    <div id="brand-cards-section">
      <h2 id="suggestedAppsHeader">
        Suggested Apps:
      </h2>
      <%- include ('./components/brandCard') %>
    </div>
  </div>
</div>
