<div id="recommendation-page" class="container">
    <form action="/user/recommendation" method="post" class="needs-validation" novalidate>

        <h1 class="page-title">Recommend a sustainable brand</h1>

        <div>
            If you own or know a sustainable brand, please let us know!
        </div>
        <div>
            Recommend a brand to us and get a chance to be awarded!
        </div>
        <div class="required-instruction">Required fields are marked with an asterisk <span aria-hidden="true">(<span class="asterisk">*</span>)</span></div>
        <section>
            <label for="brand-name" class="form-group question-field">Brand's name <span aria-hidden="true" class="asterisk"> *</span></label>
            <input class="form-control" type="text" id="brand-name" name="brandName" aria-required="true" required autocomplete="off">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide the brand's name.
            </div>
        </section>

        <section>
            <label for="brand-website" class="form-group question-field">Brand's web site or social media link <span aria-hidden="true" class="asterisk"> *</span></label>
            <input class="form-control" type="text" id="brand-website" name="website" aria-required="true" required autocomplete="off">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide the brand's web site or social media link.
            </div>
        </section>

        <section id="app-description">
            <label for="brand-description" class="form-group question-field">Tell us more about this brand (Optional)</label>
            <textarea class="form-control" id="brand-description" name="description" rows="4" aria-required="false" autocomplete="on"></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </section>

        <section id="buttons-section">
            <button id="cancel-button" onclick="location.href='/'" class="btn btn-outline-primary" type="button" >Cancel</button>
            <button id="send-button" class="btn btn-primary" type="submit">Send</button>
        </section>
    </form>
</div>
