<form action="/user/recommendation" method="post">
    <div id="recommendation-page" class="container">
        <h1 class="page-title">Recommend a sustainable brand</h1>
        <div class="required-instruction">Required fields are marked with an asterisk <span aria-hidden="true">(<span class="asterisk">*</span>)</span></div>
        <section>
            <label for="brand-name" class="form-group question-field">Brand's name <span aria-hidden="true" class="asterisk"> *</span></label>
            <input class="form-control" type="text" id="brand-name" name="brandName" aria-required="true" autocomplete="on">
        </section>

        <section>
            <label for="brand-website" class="form-group question-field">Brand's website or social media link <span aria-hidden="true" class="asterisk"> *</span></label>
            <input class="form-control" type="text" id="brand-website" name="website" aria-required="true" autocomplete="on">
        </section>

        <section id="app-description">
            <label for="brand-description" class="form-group question-field">What else do you know about this brand? (Optional)</label>
            <textarea class="form-control" id="brand-description" name="description" rows="4" aria-required="false"  autocomplete="on"></textarea>
        </section>

        <section id="buttons-section">
            <button id="cancel-button" onclick="location.href='/'" class="btn btn-outline-primary" type="button" >Cancel</button>
            <button id="send-button" class="btn btn-primary" type="submit">Send</button>
        </section>
    </div>
</form>

