.auth-form {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.auth-form .page-title {
  color: var(--text-primary);
  font-size: 2rem;
}

.auth-form .input-label {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.auth-form-field {
  padding-bottom: 1rem;
}

.auth-form .btn.btn-primary {
  width: 100%;
  margin-top: 1rem;
}

.auth-form input {
  border-color: var(--button-primary);
}

.auth-form input[type=checkbox] {
  transform: scale(1.5);
}

#show-password {
  margin: 0 0.5rem;
}

.auth-form .show-password-label{
  align-self: flex-end;
}

/* Microsoft edge default reveal password button */
.auth-form input[type=password]::-ms-reveal {
  display: none;
}

.auth-form .required-instruction {
  margin: 1rem 0;
}

.google-icon {
  margin: 0 0.5rem;
}

.google-link {
  width: 100%;
  background-color: white;
  text-decoration: none;
  box-shadow: 0 1px 2px 1px #ddd;
}

.google-icon {
  width: 1rem;
  height: 1rem;
}

.google-link:hover {
  background-color: var(--green-light) !important;
  color: var(--text-primary) !important;
}
