#back-to-top {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1.2rem;
    z-index: 99;
    /*background-color: var(--green-medium-light);*/
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
}

#back-to-top:hover {
    background-color: #555;
}
