/* brand CARD */

.brand-card {
  padding: 0;
}

.brand-card .card{
  border-radius: 1rem;
}

.brand-card .card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.brand-card .card-body {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.brand-card .card-img-top, .brand-card .card-body {
  cursor: pointer;
}

.brand-card .card-body {
  background-color: var(--green-light);
}

/* Focus style for the whole card when link inside is focused*/
.brand-card .card:focus-within {
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(63, 163, 255), 0 0 0 4px #fff, 0 0 0 6px rgba(63, 163, 255, 0.5) !important;
}

/* Disable browser default focus style on links in card */
.brand-card .brand-name:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

.brand-card li {
  list-style-type: none;
}

.brand-card .brand-name {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.brand-card .card-wrapper {
  padding: 1rem 0.8rem;
  border-radius: 1rem;
}

.brand-card .brand-slogan {
  min-height: 70px;
  max-height: 80px;
  overflow: auto;
  color: black;
  font-weight: normal;
  font-size: 1rem;
}

#categories-title,
#suggestedbrandsHeader {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.brand-card .recommended-card-body {
  border-radius: 15px;
  border: 1px solid var(--text-primary);
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}

.brand-card .recommended-brand-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.brand-card .recommended-link{
  color: var(--text-primary);
}

.brand-card .approve-icon,
.brand-card .delete-button {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 0;
  bottom: 0;
  align-items: center;
}

.brand-card .delete-button a {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  color: var(--danger);
  border-color: var(--danger);
}

.brand-card .delete-button svg{
  fill: var(--danger);
}

.brand-card .delete-button:hover svg{
  fill: white;
}

.brand-card .delete-button:hover a{
  color: white;
  background-color: var(--danger);
}

.brand-card .recommended-card-wrapper {
  min-width: 20rem;
}

.brand-card .saved-icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--green-medium-light);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media (min-width: 768px) {
  #categories-title,
  #suggestedbrandsHeader {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  .brand-card .card {
    min-height: 370px;
  }
}
