#brandsByCategory h1.total-results {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

#brandsByCategory .card-wrapper {
    /* hide for load-more function*/
    display: none;
}

#brandsByCategory .load-more {
    /* hide for load-more function*/
    display: none;
}

@media (min-width: 1200px) {
    #brandsByCategory h1.total-results {
        margin-top: 0;
        padding: 1rem 5rem;  /*match padding of .brand-card*/
    }
}
