/* brand CARD */

#brand-card .card-body {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

#brand-card .card-body:focus-within {
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(63, 163, 255), 0 0 0 4px #fff, 0 0 0 6px rgba(63, 163, 255, 0.5) !important;
}

#brand-card .brand-name:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

#brand-card {
  padding-left: 0;
}

#brand-card li {
  list-style-type: none;
}

#brand-card .brand-name {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

#brand-card .brand-logo {
  flex: none;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 15px;
}

#brand-card .brand-slogan {
  height: 65px;
  max-height: 70px;
  overflow: auto;
  color: black;
  font-weight: normal;
  font-size: 1rem;
}

@media (max-width: 768px){
  #brand-card .card-wrapper {
    padding: 0 1rem;
    color: black;
    text-decoration: none;
  }
}

.category-light-social {
  background-color: var(--social-light);
  border-radius: 15px;
}

.category-dark-social {
  background-color: var(--social-dark);
  border-radius: 15px;
  padding: 0.25rem 1rem;
}

.category-light-lifestyle {
  background-color: var(--lifestyle-light);
  border-radius: 15px;
}

.category-dark-lifestyle {
  background-color: var(--lifestyle-dark);
  border-radius: 15px;
  padding: 0.25rem 1rem;
}

.category-dark-fashion {
  background-color: var(--fashion-dark);
  border-radius: 15px;
  padding: 0.25rem 1rem;
}

.category-light-fashion {
  background-color: var(--fashion-light);
  border-radius: 15px;
}

.category-light-food {
  background-color: var(--food-light);
  border-radius: 15px;
}

.category-dark-food {
  background-color: var(--food-dark);
  border-radius: 15px;
  padding: 0.25rem 1rem;
}

.category-light-household {
  background-color: var(--household-light);
  border-radius: 15px;
}

.category-dark-household {
  background-color: var(--household-dark);
  border-radius: 15px;
  padding: 0.25rem 1rem;
}

.category-light-beauty {
  background-color: var(--beauty-light);
  border-radius: 15px;
}

.category-dark-beauty {
  background-color: var(--beauty-dark);
  border-radius: 15px;
  padding: 0.25rem 1rem;
}


#categories-title,
#suggestedbrandsHeader {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#brand-card .recommended-card-body {
  border-radius: 15px;
  border: 1px solid var(--text-primary);
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}

#brand-card .recommended-brand-name {
  font-size: 1.2rem;
  font-weight: bold;
}

#brand-card .recommended-link{
  color: var(--text-primary);
}

#brand-card .approve-icon,
#brand-card .delete-button {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 0;
  bottom: 0;
  align-items: center;
}

#brand-card .delete-button a {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

#brand-card .delete-button svg{
  fill: var(--danger);
}

#brand-card .delete-button:hover {
  transform: scale(1.2);
}

#brand-card .delete-button:hover svg{
  fill: white;
}

#brand-card .recommended-card-wrapper {
  min-width: 20rem;
}

#brand-card .saved-icon {
  position: absolute;
  right: 1rem;
}

@media (min-width: 768px) {
  #categories-title,
  #suggestedbrandsHeader {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
}
