#brandsByCategory h1.total-results {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 1rem;
}

#brandsByCategory .card-wrapper {
    /* hide for load-more function*/
    display: none;
}

#brandsByCategory .load-more {
    /* hide for load-more function*/
    display: none;
}

@media (max-width: 768px) {
    #brandsByCategory h1.total-results {
        padding: 1rem;
    }
}
