#brandsByCategory .total-results {
    font-weight: bold;
    margin: 1rem 0;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    #brandsByCategory .total-results {
        padding: 1rem 1rem;
    }
}
