#category-bg {
  position: relative;
  width: 100%;
  height: 10rem;
  border-radius: 0;
}

#detail-page .app-logo {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

#detail-page p {
  line-height: 1.7rem;
}

#detail-page .brand-image {
  display: flex;
  flex-direction: column;
  width: max-content;
  transform: translateY(50%);
  margin: auto;
}

#detail-page .category-hashtag {
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

#detail-page .app-title {
  margin-top: 6rem;
  text-align: center;
}

#detail-page .description {
  padding: 1rem 10rem;
}

#detail-page .bottom-part {
  margin: auto;
}

#website-button,
#save-button {
  min-width: 8rem;
}

#website-button svg,
#save-button svg {
  fill: var(--text-primary);
}

#save-button:not(.saved) > svg {
  stroke: var(--text-primary);
  stroke-width: 2;
  fill: none;
}

#save-button:not(.saved):hover > svg {
  stroke: white;
  fill: none;
}

#save-button > svg {
  stroke: var(--text-primary);
  stroke-width: 2;
  fill: var(--text-primary);
}

#save-button:hover > svg {
  fill: white;
  stroke: white;
}

#website-button:hover > svg {
  fill: white;
}

#detail-page .success-save-message,
#detail-page .success-unsave-message {
  color: var(--success-message) !important;
}

#detail-page .saved-icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--green-medium-light);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#detail-page .saved-icon svg {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

@media (max-width: 992px) {
  #detail-page .app-title h2 {
    font-size: 1.6rem;
  }

  #detail-page .category-color {
    height: 6.25rem;
  }

  #detail-page .description {
    padding: 1rem;
  }
}

#detail-page .short-description {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: center;
}

#detail-page .section-title {
  font-size: 1.25rem;
}

@media (min-width: 922px) {
  #category-bg {
    height: 12.5rem;
  }

  #detail-page .app-title {
    margin-top: 8rem;
  }

  #detail-page .app-logo {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.addReadMore.showlesscontent .hidden-part,
.addReadMore.showlesscontent .readLess {
  display: none;
}

.addReadMore.showmorecontent .readMore {
  display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
  font-weight: bold;
  margin-left: 2px;
  color: var(--text-primary);
  cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .hidden-part,
.addReadMoreWrapTxt.showmorecontent .readLess {
  display: block;
}
