#flash-message {
    z-index: var(--flash-z-index);
    position: absolute;
    width: 100%;
}

#flash-message .alert {
    margin: 0 !important;
    text-align: center;
}

#flash-message .close_btn {
    position: absolute;
    right: 1.5rem;
}
