footer {
    height: auto;
    width: 100%;
    border-top: 1px solid var(--line);
    background-color: var(--green-medium-light);
    position: relative;
    bottom: 0;
    left: 0;
}

#footer {
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer ul {
    justify-content: center;
}

#footer .nav-link {
    position: relative;
    color: var(--text-dark);
}

#footer .nav-link:hover {
    border-radius: 5px;
    background-color: var(--green-light);
    text-decoration: underline;
}

#footer .footer-heading {
    font-size: 1.1rem;
    padding: 0.25rem 1rem;
}

#footer .footer-block {
    display: flex;
    flex-direction: column;
}

@media (max-width : 767px) {
    #footer {
        flex-direction: column;
        align-items: flex-start;
    }

    #footer-brand-logo {
        height: 4%;
    }

    #footer ul {
        justify-content: left;
        flex-direction: column;
    }
}
