header {
  height: auto;
  position: sticky;
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--line);
  background-color: var(--green-medium-light);
}

header .navbar {
  margin: 0 1rem;
  position: relative;
}

header .nav-link {
  color: var(--text-primary) !important;
  font-weight: 400;
  margin: 0 1rem;
}

header .nav-link.btn {
  width: 150px;
}

header .nav-item {
  margin: 0.5rem;
  text-align: center;
}

header .nav-item:not(.nav-btn):hover {
  background-color: var(--green-light);
  text-decoration: underline;
  border-radius: 5px;
}

#navbar-top .navbar-nav{
  flex-direction: row !important;
}

/* Account dropdown*/
#navbar-top-account .dropdown-menu {
  position: absolute;
  top: 90%;
  left: unset;
  right: 0;
  z-index: 2;
}

#navbar-top-account .dropdown-item:hover {
  background-color: var(--green-light) !important;
}

/* Sign up button */
header .nav-link.btn-primary {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: white !important;
}

header .nav-link.btn-primary:hover {
  background-color: var(--button-hover);
}

/* Log in button */
header .nav-link.btn-outline-primary {
  border-color: var(--button-primary);
  color: var(--text-primary) !important;
}

header .nav-link.btn-outline-primary:hover {
  color: white !important;
  background-color: var(--button-hover);
}

#user-icon,
#profile-text {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px;
}

#user-icon {
  height: 24px; /* span doesnt have same size as svg, change height to have desired position */
}


@media (min-width: 992px) {
  header #header-mobile{
    display: none;
  }
}

@media (max-width: 991px) {
  header {
    padding: 0.5rem;
  }

  header #header{
    display: none;
  }
}

@media (max-width: 768px) {
  #header-mobile .navbar-collapse {
    top: 10%;
  }
}
/* Mobile navigation menu dropdown */
#header-mobile .navbar-collapse {
  position: fixed;
  background-color: var(--background-color-beige);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#header-mobile .collapsing {
  height: unset;
  overflow: unset;
  transition: unset;
}

#header-mobile .navbar-nav {
  align-items: flex-start;
}

#header-mobile .navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

#header-mobile .navbar-toggler {
  border: 1px solid var(--button-primary);
  border-radius: 5px;
  text-decoration: none;
}

#menu-label {
  position: relative;
  top: 2px;
  color: var(--text-primary);
}

#brand-logo-mobile-large {
  height: 4%;
}

#close-menu {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

#navbarContent .horizontal-line {
  width: 100%;
}

#navbarContent .horizontal-line hr {
  margin: 0;
}

/*@media (max-width: 1199px) {*/
/*  header,*/
/*  header .navbar {*/
/*    height: auto;*/
/*  }*/

/*  header .nav-item {*/
/*    width: 100%;*/
/*  }*/

/*  header .nav-link.btn {*/
/*    width: auto;*/
/*  }*/
/*}*/

/*@media (max-width: 576px) {*/
/*  header .navbar-toggler-icon {*/
/*    width: 2.5rem;*/
/*    height: 2.5rem;*/
/*    border-radius: 2px;*/
/*  }*/

/*  header img {*/
/*    width: 75%;*/
/*    height: 75%;*/
/*  }*/

/*  header .navbar-dark .navbar-nav .nav-link {*/
/*    font-size: 1rem;*/
/*    padding: 0.3rem 1rem;*/
/*  }*/
/*}*/

/*@media (max-width: 420px) {*/
/*  header .navbar-dark .navbar-nav .nav-link {*/
/*    font-size: 0.8rem;*/
/*  }*/

/*  header .nav-item {*/
/*    margin: 0px 0px;*/
/*  }*/

/*  header .navbar-toggler-icon {*/
/*    width: 1em;*/
/*    height: 1em;*/
/*  }*/

/*  header img {*/
/*    width: 70%;*/
/*    height: 70%;*/
/*  }*/

/*  header #brand-logo{*/
/*    width: 70%;*/
/*  }*/
/*  #user-icon {*/
/*    height: 18px;*/
/*    margin-right: 0px;*/
/*  }*/

/*  #user-icon svg{*/
/*    height: 15px;*/
/*    width: 15px;*/
/*  }*/
/*}*/
