header {
  height: auto;
  position: sticky;
  width: 100%;
  border-bottom: 1px solid var(--line);
  background-color: var(--green-medium-light);
}

header .nav-link {
  /*overwrite bootstrap nav-link*/
  padding: 0.5rem 1rem !important;
  margin: 0 1rem;
}

header .btn {
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
}

#header-large,
#navbar-top .navbar-nav{
  flex-direction: row !important;
}

#header-top {
  margin: 0 1rem;
  padding: 1rem;
  position: relative;
}

#header-bottom {
  background-color: var(--background-color-beige);
  padding: 0.5rem 0;
}

#header-bottom .nav-link {
  position: relative;
}

#header-bottom .nav-link.active::after {
  content: "";
  position: absolute;
  top: 80%;
  width: 80%;
  left: 10%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #425A49 9.6%, #E5EEE5 93.6%);
}

#header-bottom a.active {
  /* Scale text when link active */
  transform: scale(1.5);
}

/* Account dropdown*/
#navbar-top-account .dropdown-menu {
  position: absolute;
  top: 90%;
  left: unset;
  right: 0;
  z-index: 2;
}

#navbar-top-account .dropdown-item:hover {
  background-color: var(--green-light);
}

@media(max-width: 1200px) {
  #header-bottom .nav-link {
    margin: auto;
  }

  #header-bottom .nav-link.active {
    /* Scale text when link active */
    transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  #header-mobile{
    display: none;
  }
}

@media (max-width: 991px) {
  header {
    padding: 0.5rem;
  }

  #header-large{
    display: none;
  }
}

@media (max-width: 768px) {
  #header-mobile .navbar-collapse {
    top: 10%;
  }
}

/* Mobile navigation menu dropdown */
#header-mobile .navbar-collapse {
  position: fixed;
  background-color: var(--background-color-beige);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}

#header-mobile .collapsing {
  height: unset;
  overflow: unset;
  transition: unset;
}

#header-mobile .navbar-nav {
  align-items: flex-start;
}

#header-mobile .navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

#header-mobile .nav-item {
  width: 100%;
  text-align: left;
  margin: 0.5rem 0;
}

#header-mobile .navbar-toggler {
  border: 1px solid var(--button-primary);
  border-radius: 5px;
  text-decoration: none;
}

#menu-label {
  position: relative;
  top: 2px;
  color: var(--text-primary);
}

#brand-logo-mobile-large {
  height: 4%;
}

#close-menu {
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
}

#navbarContent .horizontal-line {
  width: 100%;
}

#navbarContent .horizontal-line hr {
  margin: 0;
}
