header {
  height: auto;
  position: sticky;
  width: 100%;
  border-bottom: 1px solid var(--line);
  background-color: var(--green-medium-light);
  font-size: 1.1rem;
}

header .nav-link {
  color: var(--text-dark) !important;
}

header .btn:not(.search-button):not(.input-search-button) {
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  width: 150px;
}

#header-large,
#navbar-top .navbar-nav{
  flex-direction: row !important;
}

#header-large .nav-link {
  /*overwrite bootstrap nav-link*/
  padding: 0.5rem 1rem !important;
}

#header-bottom .nav-link:not(.nav-btn):not(.active):hover {
  background-color: var(--green-light);
  text-decoration: underline;
  border-radius: 5px;
  transform: scale(1.2);
}

#header-top a:hover{
  text-decoration: underline;
}

#header-top {
  margin: 0 1rem;
  padding: 1rem;
  position: relative;
}

#header-bottom {
  background-color: var(--background-color-beige);
  padding: 0.5rem 0;
}

#header-bottom .nav-link {
  position: relative;
}

#header-bottom .nav-link.active::after {
  content: "";
  position: absolute;
  top: 80%;
  width: 80%;
  left: 10%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #425A49 9.6%, #E5EEE5 93.6%);
}

#header-bottom a.active {
  /* Scale text when link active */
  transform: scale(1.5);
}

/* Account dropdown*/
#navbar-top-account .dropdown-menu {
  position: absolute;
  top: 90%;
  left: unset;
  right: 0;
  z-index: 2;
}

#navbar-top-account .dropdown-item:hover {
  background-color: var(--green-light);
}

@media(max-width: 1200px) {
  #header-bottom .nav-link {
    margin: auto;
  }

  #header-bottom .nav-link.active {
    /* Scale text when link active */
    transform: scale(1.2);
  }
}

/* Mobile navigation menu dropdown */
#header-mobile .menu-collapse,
#header-mobile .search-collapse{
  position: fixed;
  background-color: var(--background-color-beige);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}

#header-mobile .collapsing {
  height: unset;
  overflow: unset;
  transition: unset;
}

#header-mobile .navbar {
  padding: 0.5rem;
}

#header-mobile .navbar-nav {
  align-items: flex-start;
}

#header-mobile .btn {
  margin: 0;
}

#header-mobile .nav-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

#header-mobile .nav-link {
  padding: 1rem;
}

#header-mobile .navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

#header-mobile .nav-item {
  width: 100%;
  text-align: left;
}

#nav-logo {
  margin: 0.5rem 0;
}

#header-mobile .nav-link:not(.active):hover {
  background-color: var(--green-medium-light);
  text-decoration: underline;
}

#header-mobile .nav-link.active{
  background-color: var(--green-medium-light);
  text-decoration: underline;
  font-size: 1.5rem;
}

#header-mobile .navbar-toggler {
  border: 1px solid var(--button-primary);
  border-radius: 5px;
  text-decoration: none;
}

#menu-label, #search-label {
  position: relative;
  top: 2px;
  color: var(--text-primary);
}

#close-menu {
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
}

.horizontal-line {
  width: 100%;
  background-color: var(--line);
}

.horizontal-line hr {
  margin: 0;
}

/* Search form */

.search-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
  color: var(--text-primary); /* icon color */
}

#clear_button {
  position: absolute;
  display: flex;
  right: 1rem;
  top: 30%;
  margin: 0 1rem;
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;
  background-color: transparent;
}

#header .search-input {
  border-color: var(--text-primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#header-mobile .close-search-btn {
  padding: 0.65rem;
}

#header-mobile .input-search-button{
  border-color: var(--text-primary);
  box-shadow: none;
  color: var(--text-primary);
}

/* https://stackoverflow.com/questions/52894166/bootstrap-4-search-input-x-clear-search */
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Custom styles for x button*/
  height: 1rem;
  width: 1rem;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);

  /* setup all the background tweaks for the custom icon */
  background-repeat: no-repeat;

  /* icon size */
  background-size: 1rem;
}

/* desktop view */
@media (min-width: 1440px) {
  #header-mobile{
    display: none;
  }

  #search-form-lg {
    width: 40%;
  }
}

/* mobile view */
@media (max-width: 1439px) {
  header {
    padding: 0.5rem;
  }

  #header-large{
    display: none;
  }

  #search-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #search-form-sm {
    width: 100%;
    padding: 2rem 0.25rem;
  }
}


