:root {
  --header-height: 125px;
  --header-mini: 100px;

  --asterisk: #98221E;
  --button-primary: #5E7966;
  --button-hover: #425A49;

  --background-profile: #CDDDCE;
  --background-confirmation: #E1EAE0;
  --background-color-beige: #F7F7F2;

  --input-primary: #E1ECE2;
  --icon: #9BBF9F;
  --line: #2E7840;

  --green-light: #E5EEE5;
  --green-medium-light: #CDDDCE;

  --text-dark: #0E2603;
  --text-primary: #0D4813;
  --text-secondary: #606060;
  --text-placeholder: #A7A7A7;
  --danger: #8B1A10;
  --error-message: #dc3545;
  --success-message: #0f5132;

  /*  Categories colors */
  --social-dark: #C94744;
  --social-light: #F1D1D0;
  --food-dark: #377E3F;
  --food-light: #B4E2EC;
  --lifestyle-dark: #F1CA32;
  --lifestyle-light: #FBF1CA;
  --fashion-dark: #D77D3B;
  --fashion-light: #F5DECD;
  --household-dark: #803364;
  --household-light: #DFCBD7;
  --beauty-dark: #335380;
  --beauty-light: #CCD3DE;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --gradient: linear-gradient(-90deg, var(--button-hover) 0%, var(--green-medium-light) 100%);

  --main-z-index: 1;
  --header-z-index: 2;
  --header-overlay-z-index: 3;
  --skip-link-z-index: 4;
  --box-shadow: rgba(0,0,0,0.25);

  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  background-color: var(--background-color-beige);
  font-weight: 400;
  font-family: Garamond, Helvetica, Arial sans-serif, system-ui, -apple-system;
  letter-spacing: 0.018rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

main {
  padding-bottom: 2rem;
  z-index: var(--main-z-index);
  min-height: 100vh;
}

.asterisk {
  color: var(--asterisk);
}

form > * {
  z-index: var(--main-z-index);
}

header {
  z-index: var(--header-z-index);
}

#navbarContent {
  z-index: var(--header-overlay-z-index);
}

/*Focus style*/
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible
{
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(63, 163, 255), 0 0 0 4px #fff, 0 0 0 6px rgba(63, 163, 255, 0.5) !important;
}

/* Overwrite Bootstrap styles */
a {
  color: var(--text-primary);
}

a:hover {
  color: var(--text-primary);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 3px 4px var(--box-shadow);
}

.btn-primary {
  background-color: var(--button-primary) !important;
  border-color: var(--button-primary) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--button-hover) !important;
  border-color: var(--button-hover) !important;
}

.btn-outline-primary {
  border-color: var(--button-primary) !important;
  color: var(--text-dark) !important;
}

.btn-outline-primary:hover {
  background-color: var(--button-primary) !important;
  color: white !important;
}

.close_btn svg {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--button-primary);
}

#skip-link {
  color: var(--text-dark);
  background-color: var(--green-medium-light);
  padding: 0.5rem 0;
  position: absolute;
  z-index: var(--skip-link-z-index);
  text-align: center;
  top: -100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
}

#skip-link:focus {
  top: 30%;
}

.needs-validation input,
.needs-validation textarea {
  border-radius: 5px;
  border-color: var(--button-primary);
}

/* Hide unnecessary scrollbar in brand card */
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
