.register-form {
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.register-form-field {
  padding-bottom: 1rem;
}

.register-form img {
  width: 125px;
  margin: 0 auto;
  display: block;
}

.register-form .btn.btn-primary {
  width: 100%;
  margin-top: 1rem;
}

.register-form input {
  border-color: var(--button-primary);
}
