#search-page .page-title {
    margin: 1.5rem auto auto;
    color: var(--text-primary);
    font-size: 1.5rem;
}

#search-results .card-wrapper {
    /* Hide for load more function */
    display: none;
}

#search-page .load-more {
    display: none;
}

#search-page .total-results {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#search-page .suggestions {
    margin: 1rem 0;
    font-size: 1.2rem;
}

#search_section {
    margin: 3rem auto auto;
}

#search_button {
    max-width: 9rem;
}

#search-input-lg-body{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: 1px solid var(--input-primary);
}

#search-page .input-group {
    height: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1200px){
    #search-page .total-results {
        margin-top: 0;
        padding: 1rem 3rem;  /*match padding of .brand-card*/
    }

    #search-page .input-group {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #search-form {
        width: 60%;
        margin: auto;
    }
}

@media(min-width: 768px) {
    #search-page .input-group {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media(min-width: 576px) {
    #search-page .page-title {
        font-size: 2rem;
    }
}
