#search-page .page-title {
    margin: 1.5rem auto auto;
    color: var(--text-primary);
    font-size: 2rem;
}

#search-results .card-wrapper {
    /* Hide for load more function */
    display: none;
}

#search-page .load-more {
    display: none;
}

#search-page .total-results {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

#search-page .no-results {
    font-size: 1.8rem;
    margin: 3rem 0;
}

#search-page .suggestions {
    margin: 1rem 0;
    font-size: 1.2rem;
}

#search_section {
    margin: 3rem auto auto;
}

@media (min-width: 1200px){
    #search-page .total-results {
        margin-top: 0;
        padding: 1rem 3rem;  /*match padding of .brand-card*/
    }
}
