:root {
  --header-height: 125px;
  --header-mini: 100px;

  --button-primary: #5E7966;
  --button-hover: #425A49;

  --background-profile: #CDDDCE;
  --background-message: #EEF8F3;
  --background-color-beige: #F7F7F2;

  --input-primary: #E1ECE2;
  --icon: #9BBF9F;
  --line: #9FCFA4;

  --text-primary: #456E4F;
  --text-secondary: #606060;
  --text-placeholder: #A7A7A7;

  /*  Categories colors */
  --social-dark: #C94744;
  --social-light: #F1D1D0;
  --food-dark: #377E3F;
  --food-light: #9EC2A8;
  --lifestyle-dark: #F1CA32;
  --lifestyle-light: #FBF1CA;
  --fashion-dark: #D77D3B;
  --fashion-light: #F5DECD;
  --household-dark: #803364;
  --household-light: #DFCBD7;
  --beauty-dark: #335380;
  --beauty-light: #CCD3DE;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  background-color: var(--background-color-beige);
}

main {
  padding-bottom: 6rem;
}

/*Focus style*/
a:focus-visible,
button:focus-visible,
input:focus-visible {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(63, 163, 255), 0 0 0 2px #fff, 0 0 0 4px rgba(63, 163, 255, 0.5) !important;
}

.btn-primary {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.btn:hover {
  text-decoration: underline;
}

.visually-hidden {
  display: none;
}
