<form class="container" id="search" method="get">
    <h1 class="text-center">Search Page</h1>
    <div id="search_section" class="row input-group d-flex justify-content-center">
        <!-- Search bar-->
        <div id="search_bar" class="col-md-8 col-12">
        <label for="search_field" class="visually-hidden"> Search for a brand or a product </label>
        <input id="search_field" class="textField_input" autocomplete="off"
               name="q" value="<%= query%>" type="search" placeholder="Search for a brand or a product">
        </div>
        <button type="submit" id="search_button" class="btn btn-primary col-12 col-md-3 col-xl-2">
            <i aria-hidden="true" class="fas fa-search"></i>
            <span>Search</span>
        </button>
    </div>
</form>

<div class="container mt-sm-4 mb-sm-4">
    <% if (results) { %>
        <h2 id="total-results" class="mt-sm-4 mb-sm-4 pl-sm-2 pr-sm-2 ml-lg-0 mr-lg-0"><%= results.length %> Results for "<%= query%>"</h2>
        <% if (results.length > 0) { %>
            <%- include ('../components/brandCard') %>
        <% } else { %>
            <p> Do you want to recommend a brand to us?
                <span><a href="/user/recommendation">Click here</a></span> to send your recommendation.
            </p>
        <% } %>
    <% } %>
</div>
