<form class="container" id="search" action="/search" method="post">
    <h1 class="text-center">Search Page</h1>
    <div id="search_section" class="row input-group d-flex justify-content-center">
        <!-- Search bar-->
        <input id="search_bar" class="col-lg-9 col-md-8 textField_input" autocomplete="true" name="search_bar" type="text" value="<%= search_query %>" placeholder="Search for a brand or a product">
        <label for="search_bar" class="textField_label"> Search for a brand or a product </label>
        <button type="submit" id="search_button" class="btn btn-primary col-lg-2 col-md-2">
            <i class="fas fa-search"></i>
            <span>Search</span>
        </button>
    </div>
    <div>
        Results:
        <div>
            <% console.log(matches)%>
        </div>
    </div>
</form>
