<form class="container" id="search" method="get">
    <h1 class="text-center">Search Page</h1>
    <div id="search_section" class="row input-group d-flex justify-content-center">
        <!-- Search bar-->
        <div id="search_bar" class="col-lg-9 col-md-8">
        <label for="search_field" class="textField_label"> Search for a brand or a product </label>
        <input type="search" id="search_field" class="textField_input" autocomplete="true"
               name="q" value="<%= query%>" type="search" placeholder="Search for a brand or a product">
        <div role="button" tabindex="0" id="clear_button" aria-label="Clear">
            <i aria-hidden="true" class="fas fa-times-circle"></i>
        </div>
        </div>
        <button type="submit" id="search_button" class="btn btn-primary col-lg-2 col-md-2">
            <i aria-hidden="true" class="fas fa-search"></i>
            <span>Search</span>
        </button>
    </div>
</form>

<div class="container">
    <%if (results) { %>
    <%= results.length %> Results for <%= query%>
    <div>
        <%- include ('../components/searchResults') %>
    </div>
    <% } else if (noResults) { %>
        <p>No results</p>
    <% } else {}%>
</div>
