<div id="about-page">
    <div class="position-relative">
        <picture>
            <source media="(min-width: 1024px)" srcset="/images/ecopicks/about-page-cover-large.png">
            <source media="(min-width: 768px)" srcset="/images/ecopicks/about-page-cover-medium.png">
            <img src="/images/ecopicks/about-page-cover-small.png" style="width:100%;" alt="Light back ground with green leaves on the right side.">
        </picture>
        <h1 class="headings about-page-title position-absolute">About Us</h1>
    </div>

    <div class="about-page-content container d-flex flex-column mt-4">
        <div class="d-flex flex-lg-row flex-column section">
            <h2 class="headings col col-12 col-lg-4 mb-3 me-3">What are we up to?</h2>
            <div class="d-flex flex-column col col-md-8">
                <p>Ecopicks is developed to be a companion on your journey to achieve a sustainable lifestyle.</p>
                <p>We help you to consume consciously to improve your ecological footprint.</p>
                <p>We help independent retailers and brands to thrive and promote their success in environmental sustainability movement.</p>
                <p><a href="/registration">Join us</a> in this journey to preserve the future of our planet. </p>
            </div>
        </div>
        <div class="d-flex flex-lg-row flex-column section">
            <h2 class="headings col col-12 col-lg-4 mb-3 me-3">How does it work?</h2>
            <ul class="d-flex flex-column col col-12 col-md-8">
                <li class="mb-2 d-inline-flex list-unstyled">
                    <img class="icon-image" src="/images/ecopicks/search-icon.png" alt="Ecopicks search">
                    <div>
                        <h3 class="small-headings">Find your sustainable brands</h3>
                        <p class="mb-2">Use our search engine to explore ethical brands and their sustainable products.</p>
                    </div>
                </li>
                <li class="mb-2 d-inline-flex list-unstyled">
                    <img class="icon-image" src="/images/ecopicks/bookmark.png" alt="Ecopicks bookmark">
                    <div>
                        <h3 class="small-headings">Save your favorite brands </h3>
                        <p class="mb-2">Save the brands to your collection to share with your colleague, friends and family.</p>
                    </div>
                </li>
                <li class="mb-2 d-inline-flex list-unstyled">
                    <img class="icon-image" src="/images/ecopicks/thumbsup.png" alt="Ecopicks thumbs up">
                    <div>
                        <h3 class="small-headings">Promote an eco brand </h3>
                        <p class="mb-2">If you own or know a sustainable brand, let us know if it should be on Ecopicks. </p>
                        <a class="mb-2" href="/user/recommendation">Promote a brand.</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
