<div id="about-page">
    <div class="position-relative">
        <picture>
            <source media="(min-width: 1024px)" srcset="/images/ecopicks/about-page-cover-large.png">
            <source media="(min-width: 768px)" srcset="/images/ecopicks/about-page-cover-medium.png">
            <img src="/images/ecopicks/about-page-cover-small.png" style="width:100%;">
        </picture>
        <h1 class="headings about-page-title position-absolute">About Ecopicks</h1>
    </div>

    <div class="about-page-content container d-flex flex-column mt-4">
        <div class="d-flex flex-lg-row flex-column section">
            <h2 class="headings col col-12 col-lg-4 mb-3">What are we up to?</h2>
            <div class="d-flex flex-column col col-md-8">
                <div class="mt-2 mb-2">Ecopicks is developed to be a companion on your journey to achieve a sustainable lifestyle.</div>
                <div class="mt-2 mb-2">We help consumers filter out the brands and products that would have a bad impact on their ecological footprint.</div>
                <div class="mt-2 mb-2">We help independent retailers and brands to thrive and promote their success in environmental sustainability movement.</div>
                <div class="mt-2 mb-2"><a href="/registration">Join us</a> in this journey to preserve the future of our planet. </div>
            </div>
        </div>
        <div class="d-flex flex-lg-row flex-column section">
            <h2 class="headings col col-12 col-lg-4 mb-3">How does it work?</h2>
            <div class="d-flex flex-column col col-md-8">
                <div class="mb-2 d-inline-flex">
                    <img class="icon-image" src="/images/ecopicks/search-icon.png" alt="Ecopicks search icon image">
                    <div>
                        <h3 class="small-headings">Find your sustainable brands</h3>
                        <div class="mb-2">Using our search engine to explore ethical brands and their sustainable products.</div>
                    </div>
                </div>
                <div class="mb-2 d-inline-flex">
                    <img class="icon-image" src="/images/ecopicks/bookmark.png" alt="Ecopicks bookmark icon image">
                    <div>
                        <h3 class="small-headings">Save your favorite brands </h3>
                        <div class="mb-2">Save the brands to your collection to share with your colleague, friends and family.</div>
                    </div>
                </div>
                <div class="mb-2 d-inline-flex">
                    <img class="icon-image" src="/images/ecopicks/thumbsup.png" alt="Ecopicks thumbs up icon image">
                    <div>
                        <h3 class="small-headings">Recommend an eco brand </h3>
                        <div class="mb-2">Write us a recommendation of sustainable brand and get a chance to be awarded!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
