<div class="container" id="confirmation-page">
  <div class="text-center" id="confirmation-body">
    <!-- Checkmark Icon -->
    <div id="confirmation-top">
        <svg focusable="false" aria-labelledby="success-icon-label" role="img" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title class="d-none" id="success-icon-label">Checkmark</title>
            <path d="M50 0C22.4 0 0 22.4 0 50C0 77.6 22.4 100 50 100C77.6 100 100 77.6 100 50C100 22.4 77.6 0 50 0ZM40 75L15 50L22.05 42.95L40 60.85L77.95 22.9L85 30L40 75Z" fill="#0D4813"/>
        </svg>
    </div>

    <div id="confirmation-bottom">
        <h1 class="thank-you">Thank you!</h1>
        <div class="mt-3 thank-message">We received your recommendation.</div>
        <div class="mt-1 pb-3 thank-message">You can now view them on your profile page.</div>

      <!-- Action -->
      <div class="d-flex flex-column flex-md-row justify-content-center action-links">
          <a  href="/user" >Go to profile page</a>
          <a href="/user/recommendation" >Recommend another brand</a>
      </div>
    </div>
  </div>

</div>
