<div id="homepage">
  <section class="position-relative">
    <h1 class="headings homepage-title position-absolute">Discover sustainable brands and products on Ecopicks</h1>
    <picture>
      <source media="(min-width: 1024px)" srcset="/images/ecopicks/homepage-cover-large.png">
      <source media="(min-width: 768px)" srcset="/images/ecopicks/homepage-cover-medium.png">
      <img src="/images/ecopicks/homepage-cover-small.png" style="width:100%;" alt="Light green back ground with green leaves on the left and right side.">
    </picture>
  </section>

  <section class="container-fluid" id="categories-images">
    <h2 class="headings categories-title">Browse sustainable brands by category</h2>
    <div class="row justify-content-center">
        <a class="col col-12 col-sm-6 col-lg-4 d-flex justify-content-center category-image-link" href="/category/food-drink">
            <figure>
                <img class="category-image food-drink-image" src="/images/categories/food-drink.png" alt="Different breakfast food and drink on a dining table.">
                <figcaption class="fig-caption">Food & Drink <span class="visually-hidden">category</span></figcaption>
            </figure>
        </a>
        <a class="col col-12 col-sm-6 col-lg-4 d-flex justify-content-center category-image-link" href="/category/fashion">
            <figure>
                <img class="category-image fashion-image" src="/images/categories/fashion.png" alt="Collection of vintage t-shirts on a clothing rack.">
                <figcaption class="fig-caption">Fashion <span class="visually-hidden">category</span></figcaption>
            </figure>
        </a>
        <a class="col col-12 col-sm-6 col-lg-4 d-flex justify-content-center category-image-link" href="/category/lifestyle">
            <figure>
                <img class="category-image lifestyle-image" src="/images/categories/lifestyle.png" alt="A coffee cup, winter flowers, and a book on desk.">
                <figcaption class="fig-caption">Lifestyle <span class="visually-hidden">category</span></figcaption>
            </figure>
        </a>

        <a class="col col-12 col-sm-6 col-lg-4 d-flex justify-content-center category-image-link" href="/category/social">
            <figure>
                <img class="category-image social-image" src="/images/categories/social.png" alt="People are using laptops and phones to socialize.">
                <figcaption class="fig-caption">Social <span class="visually-hidden">category</span></figcaption>
            </figure>
        </a>
        <a class="col col-12 col-sm-6 col-lg-4 d-flex justify-content-center category-image-link" href="/category/household">
            <figure>
                <img class="category-image household-image" src="/images/categories/household.png" alt="Different household appliances on kitchen counter.">
                <figcaption class="fig-caption">Household <span class="visually-hidden">category</span></figcaption>
            </figure>
        </a>
        <a class="col col-12 col-sm-6 col-lg-4 d-flex justify-content-center category-image-link" href="/category/beauty-wellness">
            <figure>
                <img class="category-image beauty-wellness-image" src="/images/categories/beauty-wellness.png" alt="Beauty products in wood bottles and recyclable plastic bottles on a light green background.">
                <figcaption class="fig-caption">Beauty & Wellness <span class="visually-hidden">category</span></figcaption>
            </figure>
        </a>
    </div>
  </section>

  <%if (popularBrands && popularBrands.length > 0) { %>
  <section class="container-fluid">
      <h2 class="headings popular-title">Popular brands on Ecopicks</h2>
      <div>
          <%- include ('../components/popularBrandCard') %>
      </div>
  </section>
  <%}%>
</div>
