<div class="container mt-sm-4 mb-sm-4 d-flex flex-column justify-content-center" id="brandsByCategory">
    <% if (results) { %>
        <% if (categoryName) {%>
        <h1 class="total-results"><%= results.length %> brands for "<%= categoryName %>"</h1>
        <% } else {%>
        <h1 class="total-results"><%= results.length %> results for all brands</h1>
        <% } %>
    <% if (results.length > 0) { %>
            <div class="brands-container">
                <%- include ('../components/brandCard') %>
            </div>
        <% } else { %>
            <div> Do you want to recommend a brand in this category to us?
                <span><a href="/user/recommendation">Go to recommendation page</a></span>
            </div>
        <% } %>
    <% } %>

    <button class="load-more btn btn-outline-primary align-self-center" type="button">Load More</button>
</div>
