<div class="container mt-sm-4 mb-sm-4" id="brandsByCategory">
    <% if (results) { %>
        <% if (categoryName) {%>
        <p class="total-results"><%= results.length %> brands for "<%= categoryName %>"</p>
        <% } else {%>
        <p class="total-results"><%= results.length %> results for all brands</p>
        <% } %>
    <% if (results.length > 0) { %>
            <%- include ('../components/brandCard') %>
        <% } else { %>
            <p> Do you want to recommend a brand in this category to us?
                <span><a href="/user/add">Click here</a></span> to send your recommendation.
            </p>
        <% } %>
    <% } %>
</div>
